* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F3E3;
    color: #2B2118;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 1em;
    background-color: #DB8A74;
    text-align: center;
}

.home-container > img, p, h2 {
    margin: 3%;
    width: 90%;
    border-radius: 6px;
}

.footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6F1A07;
    color: #F7F3E3;
    padding: 2%;
    align-items: center;
}

.footer > p {
    max-width: 50%;
    font-size: 75%;
    border-left: 2px solid #F7F3E3;
    padding-left: 5%;
}

.footer > h2 {
    padding-left: 10%;
}



